<section class="row">
  <h1>Survey</h1>
</section>
<section class="row">
  <Component.hero content="Hello from a Function Component">
    <div>Hello from a Function Component's Slot</div>
  </Component.hero>
</section>
